body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 153, 220);
}

.contenedores {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
}

.Generar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header__title {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.board {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, minmax(auto, 48px));
  grid-template-rows: repeat(12, minmax(auto, 48px));
  gap: 4px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell.clicked {
  background-color: lightgray;
}

.footer {
  margin-top: auto;
  font-size: 24px;
  font-weight: bold;
}

.instrucciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.instrucciones__title {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.instrucciones__text {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.cartones {
  border: 1px solid black;
}

.cartonNxN {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding: 8px;
}
